body {
  background: #000;
  color: white;
}

main {
  width: 100%;
}

ul { 
  list-style: none;
  font-style: italic;
  font-weight: bold;
  display: flex;
  gap: 1px; 
}

ul li {
  background: #d6ce73;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 15px 15px 0 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

main ul {
  display: flex;
}

main ul li {
  background: rgba(0,0,0,0);
  margin: auto;
}

main ul li a {
  color: #808000;
}

main .main-section {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
}

article, aside {
    font-weight: bold;
}

aside {
  display: flex;
  flex-direction: column;
  width: 80%;;
  height: 72vh;
  border-radius: 10px;
  box-shadow: inset 0px 0px 40px #a17100;
  padding: 10px;
  box-sizing: border-box;
  background: #e5d98f;
  color: black;
}

aside img {
  width: 50%;
  margin: 5% auto;
}

aside .profilo {
  display: grid;
  row-gap: 2%;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(10, 0fr);
}

h1 {
  color: #808000;
  text-align: center;
}

h1, h4 {
  border-bottom: 1px solid darkgray;
}

legend {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: darkred;
  background: ivory;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

fieldset {
  border-color: ivory;
  border-radius: 10px;
}

fieldset p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.labelred {
  color: #900;
}

.labelorange {
  color: gold;
}

section h4 {
  color: #fb0;
  font-style: italic;
}

.profile-section {
  height: 72vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

section .info-ufficiali2, .dati-gioco2, .dati-non-gioco {
  display: grid;
  row-gap: 5%;
  height: 40%;
}

section .info-ufficiali2 {
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(5, 0fr);
}

section .dati-gioco2 {
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(8, 0fr);
}

section .dati-non-gioco {
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(3, 0fr);
}

@media (max-width: 768px) {
  
  ul li {
    display: block;
    text-align: center;
  }
  
  main ul li {
    text-align: left;
  }
  
  aside {
    float: none; 
    width: 100%;
  }
  
  section {
    width: 100%;
    height: auto;
  }
}


