body {
  background: #311;
  color: white;
}

ul {
  list-style-type: none;
}

ul li {
  background: #ffdb55;
  color: black;
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 9px;
}

ul li a {
    text-decoration: none;
  color: black;
}

h4 {
  border-bottom: 1px solid black;
}

legend {
  text-align: center;
}

fieldset p {
  text-align: center;
}


