body {
  background: #311;
  color: white;
}

article, aside {
    font-weight: bold;
}

aside {
  border-radius: 10px;
  box-shadow: inset 0px 0px 25px darkorange;
}

aside img {
  width: 100%;
}

ul  { 
  font-style: italic;
  font-weight: bold;
}


ul li {
  background: #ffdb55;
  color: black;
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 9px;
}

ul li a {
    text-decoration: none;
    color: black;
}

main ul li {
  background: rgba(0,0,0,0);
}

main ul li a {
  color: #cbdb55;
  margin: 0vw 10vw 0vw 5vw;
}

h1 {
  color: #f82;
  text-align: center;
}

h1, h4 {
  border-bottom: 1px solid darkgray;
}

legend {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: darkred;
  background: ivory;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

fieldset {
  border-color: ivory;
  border-radius: 10px;
}

fieldset p {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

aside table td {
  padding: 0 4px;
}

section table td {
  vertical-align: top;
  padding: 4px;
  box-sizing: border-box;
}

.tlabel {
  color: darkred;
}

.tlabelorange {
  color: gold;
}

aside {
  float: left;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 20px;
  background: lightyellow;
  color: black;
}
section h4 {
  color: orange;
  font-style: italic;
}

section {
  height: 650px;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  
  ul li {
    display: block;
    text-align: center;
  }
  
  main ul li {
    text-align: left;
  }
  
  aside {
    float: none; 
    width: 100%;
  }
  
  section {
    width: 100%;
    height: auto;
  }
}
