<form #userForm="ngForm" (ngSubmit)="onSubmit()">
  <h5>DATI PERSONALI</h5>
  <hr />

  <div class="coppie">
    <div class="form-group">
      <label for="name"></label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Nome"
        [(ngModel)]="user.name"
        required
        #nameInput="ngModel"
      />
      @if (nameInput.invalid && (nameInput.touched || nameInput.dirty)) {
      <div style="color: red">Il campo nome è obbligatorio</div>
      }
    </div>

    <!-- fine NOME  -->

    <div class="form-group">
      <label for="surname"></label>
      <input
        type="text"
        class="form-control"
        id="surname"
        name="surname"
        placeholder="Cognome"
        [(ngModel)]="user.surname"
        #surnameInput="ngModel"
        required
      />
      @if (surnameInput.invalid && (surnameInput.touched || surnameInput.dirty))
      {
      <div style="color: red">Il campo cognome è obbligatorio</div>
      }
    </div>
  </div>
  <!-- fine COGNOME  -->

  <div class="coppie">
    <div class="form-group">
      <label for="date"></label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        placeholder="Data di Nascita"
        required
      />
    </div>
    <!-- FINE DATA DI NASCITA -->

    <div class="form-group mt-4">
      <label for="gender"></label>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="sesso"
          id="donna"
          value="donna"
          required
        />
        <label class="form-check-label" for="donna">Donna</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="sesso"
          id="uomo"
          value="uomo"
        />
        <label class="form-check-label" for="uomo">Uomo</label>
      </div>
    </div>
  </div>

  <!-- fine RADIO BUTTON  -->

  <div class="coppie">
    <div class="form-row">
      <div class="form-group">
        <label for="inputCity"></label>
        <input
          type="text"
          class="form-control"
          id="inputCity"
          placeholder="Nazione di Nascita"
          required
        />
      </div>

      <!-- fine NAZIONE DI NASCITA  -->

      <div class="form-group">
        <label for="inputCity"></label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Provincia di Nascita</option>
          <option value="1">Rome</option>
          <option value="2">Milan</option>
          <option value="3">Naples</option>
        </select>
      </div>
    </div>

    <!-- fine PROVINCIA DI NASCITA  -->

    <div class="form-group">
      <label for="inputCode"></label>
      <input
        type="text"
        class="form-control"
        id="inputCode"
        name="inputCode"
        required
        placeholder="Codice Fiscale"
        pattern="^([A-Za-z]{6}[0-9lmnpqrstuvLMNPQRSTUV]{2}[abcdehlmprstABCDEHLMPRST]{1}[0-9lmnpqrstuvLMNPQRSTUV]{2}[A-Za-z]{1}[0-9lmnpqrstuvLMNPQRSTUV]{3}[A-Za-z]{1})$|([0-9]{11})$"
        [(ngModel)]="user.code"
        #codeInput="ngModel"
      />
      @if (codeInput.invalid && (codeInput.touched || codeInput.dirty)) {
      <div style="color: red">Inserisci un codice fiscale valido</div>
      }
    </div>
  </div>

  <button type="submit" class="btn btn-success d-block mx-auto">
    Continua
  </button>
</form>
