body,
html {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
body {
  overflow-y: auto;
}
a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  &:active {
    color: rgba(255, 255, 255, 0.8);
  }
  &:visited {
    color: rgba(255, 255, 255, 0.8);
  }
}
figure {
  margin: 0;
}
#iphone16pro {
  background: black;
  color: white;
}
#iphone16 {
  background: linear-gradient(#0e143f 20%, #fff);
  color: white;
}
/************************BUTTONS**********************/
.button-inactive{
  cursor: pointer;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  background: transparent;
  border:1px solid #0071e3;
  border-radius: 980px;
  color: #0071e3;
}
.button-inactive:hover{
  background: #0071e3;
  color: white;
  border: 1px solid transparent;
}
.button-active{
  cursor: pointer;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-style: solid;
  border-width: 1px;
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  background: #0071e3;
  border-radius: 980px;
  color: white;
  border: none;
}
/************************BUTTONS**********************/
